{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@styles": "./styles"
        },
        "extensions": [".ts", ".tsx", ".jsx", ".js", ".json", ".svg", ".jpg"]
      }
    ]
  ]
}
